.fixed-top {
  position: static;
}

.clean-navbar.fixed-top + .page {
}

.logo-img {
  width: 230px;
}

.logo {
  padding-right: 5px;
}

.navbar-light .navbar-toggler {
  margin-left: 5px;
}

.clean-block.clean-hero {
  background-image: url("../../assets/img/landing-image.jpg");
  color: rgba(0, 0, 0, 0.75);
}

