<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ScienceFuzz | @ViewData["Title"]</title>
    <link href="assets/fonts/fontawesome-all.min.css" rel="stylesheet" />
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/custom.css" rel="stylesheet" />
    <link rel="shortcut icon" href="assets/favicon.ico">
    @RenderSection("CSS", required: false)
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container">
            <a class="navbar-brand logo" asp-page="Index"><img src="assets/img/sciencefuzz.png" class="logo-img"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item item" role="presentation"><a class="nav-link" asp-page="Publications">Publikacje</a></li>
                    <li class="nav-item item" role="presentation"><a class="nav-link" asp-page="Journals">Czasopisma</a></li>
                    <li class="nav-item item" role="presentation"><a class="nav-link" asp-page="Disciplines">Dyscypliny</a></li>
                    <li class="nav-item item" role="presentation"><a class="nav-link" asp-page="Diagrams">Kalkulator</a></li>
                    <li class="nav-item item" role="presentation"><a class="nav-link" asp-page="TSNE">T-SNE</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="
         margin-bottom: 200px">
        @RenderBody()
    </div>
    <footer class="page-footer fixed-bottom" style="        padding: 0px">
        <div class="footer-copyright" style="        padding: 0px !important;
        margin: 0px !important;
        padding: 0px">
            <p style="        padding: 0px">© 2019 Nicolaus Copernicus University</p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
