@page
@model TSNEModel
@{
    ViewData["Title"] = "T-SNE";
}

@section CSS
{
<link href="~/assets/css/loader.css" rel="stylesheet" />
}

<div class="container" style="        margin-top: 10px;
        padding: 20px">
    <div class="loader text-center">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <h4>Obliczanie ...</h4>
    </div>
    <canvas class="tsne-chart"></canvas>
</div>


@section Scripts
{
<script src="assets/js/tsne.js"></script>
<script src="assets/js/chart.js"></script>
<script src="assets/js/tsne-chart.js"></script>
<script>

    function hideLoader() {
        $('.loader').css('display', 'none');
    };

    function randColor() {
        var r = Math.random() * 255;
        var g = Math.random() * 255;
        var b = Math.random() * 255;

        var color = 'rgba(' + r + ', ' + g + ', ' + b + ', 0.5)';
        var hover = 'rgba(' + r + ', ' + g + ', ' + b + ', 0.8)';

        return {
            color: color,
            hover: hover
        };
    }

    function testData_to_dists(testData) {
        var arr = new Array();

        testData.forEach(function (test) {
            arr.push(test.data);
        });

        return arr;
    };

    function solution_to_chartData(testData, solutionData) {
        var arr = new Array();

        for (var i = 0; i < testData.length; i++) {
            var colors = randColor();

            arr.push({
                label: testData[i].label,
                data: [{ x: solutionData[i][0], y: solutionData[i][1], r: 10 }],
                backgroundColor: colors.color,
                hoverBackgroundColor: colors.hover
            });
        }

        return arr;
    };

    $(document).ready(function () {

        var testData = [
            {
                label: 'WD',
                data: [0.0346, 0.068, 0.1206, 0.009, 0.5625, 0.0355, 0, 0]
            },
            {
                label: 'Informatyk fizyk',
                data: [0.01, 0, 0.005, 0.0442, 0.4245, 0.0585, 0, 0.01]
            },
            {
                label: 'Fizyk',
                data: [0, 0, 0.067, 0.1263, 0.3624, 0.1171, 0, 0.238]
            },
            {
                label: 'Historyk sztuki',
                data: [0.258, 0, 0.004, 0.0248, 0, 0, 0.0125, 0.115]
            },
            {
                label: 'Archeolog',
                data: [0.2229, 0.0284, 0.01, 0, 0, 0.1604, 0.002, 0]
            },
            {
                label: 'OS',
                data: [0, 0, 0.1416, 0, 0.005, 0.01, 0, 0]
            },
            {
                label: 'Pedagog politolog',
                data: [0.0773, 0.1595, 0.0743, 0, 0, 0, 0, 0]
            },
            {
                label: 'Biolog',
                data: [0.005, 0.0199, 0.3831, 0.039, 0.0631, 0.316, 0, 0.059]
            },
            {
                label: 'Rehabilitant',
                data: [0.0374, 0.1109, 0.5445, 0, 0, 0.0394, 0, 0]
            },
            {
                label: 'Chemik',
                data: [0.0109, 0.0509, 0.3681, 0.4479, 0.974, 0.9029, 0.1313, 0]
            }
        ];

        var opt = {};
        opt.epsilon = 100;
        opt.perplexity = 3;
        opt.dim = 2;

        var tsne = new tsnejs.tSNE(opt);
        var dists = testData_to_dists(testData);
        tsne.initDataRaw(dists);

        for (var k = 0; k < 100000; k++) {
            tsne.step();
        }



        var Y = tsne.getSolution();
        console.log('SOLUTION: ', Y);

        var chartData = solution_to_chartData(testData, Y);
        console.log('CHART DATA: ', chartData);



        initChart(chartData);
        hideLoader();
    });
</script>
}