@inherits LayoutComponentBase

<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container">
        <NavLink href="/" Match="NavLinkMatch.All" class="navbar-brand logo"><img src="assets/img/sciencefuzz.png" class="logo-img"></NavLink>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item item" role="presentation"><NavLink href="/" Match="NavLinkMatch.All" class="nav-link"><i class="fas fa-home"></i>&nbsp;Home</NavLink></li>
                <li class="nav-item item" role="presentation"><NavLink href="/About" Match="NavLinkMatch.All" class="nav-link"><i class="fas fa-info"></i>&nbsp;About</NavLink></li>
                <li class="nav-item item" role="presentation"><NavLink href="/Contact" Match="NavLinkMatch.All" class="nav-link"><i class="fas fa-phone"></i>&nbsp;Contact</NavLink></li>
                <li class="nav-item item" role="presentation"><NavLink href="/Calculator" Match="NavLinkMatch.All" class="nav-link"><i class="fas fa-calculator"></i>&nbsp;Calculator</NavLink></li>
            </ul>
        </div>
    </div>
</nav>

@Body

<footer class="page-footer">
    <div class="footer-copyright">
        <p>&copy; 2019 Nicolaus Copernicus University</p>
    </div>
</footer>
