<Loading Visible="LoadingVisibility" />
<section class="calculator-spa-section @ChartVisibility">
    <div class="row">
        <div class="col-12 col-lg-12 diagram-col">
            <div><canvas id="chartDisciplines"></canvas></div>
        </div>
    </div>
</section>

@code
{
    [Parameter]
    public DisciplinesChart Chart { get; set; }

    public bool LoadingVisibility
    {
        get => Chart == null ? true : false;
    }

    public string ChartVisibility
    {
        get => Chart != null ? "visible" : "hidden";
    }
}