@page "/About"

<div class="container">
    <main class="main-about">
        <header class="text-center">
            <h1 class="about-heading">About</h1>
            <div style="margin-top: 30px;">
                <i class="fas fa-hourglass-half" style="font-size: 82px;background-color: rgba(62,140,228,0);color: rgb(62,140,228);"></i>
                <p>Coming soon...</p>
            </div>
        </header>
    </main>
</div>