@page "/Calculator"
@inject ScienceFuzzClient _httpClient
@inject IJSRuntime _js

<main class="naukowiec-choose-main">
    <ScientistChoice Scientists="Scientists" OnScientistSelected="OnScientistSet" />
    <PublicationsTable Publications="Publications" />
    <Disciplines Chart="DisciplinesChart" />
    <Domains Chart="DomainsChart" />
</main>

@code
{
    public string[] Scientists { get; set; }
    public IEnumerable<PublicationModel> Publications { get; set; }
    public DisciplinesChart DisciplinesChart { get; set; }
    public DomainsChart DomainsChart { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Scientists = await _httpClient.GetScientistNames();
        await LoadPublications(Scientists[0]);
        await LoadDisciplinesChart(Scientists[0]);
        await LoadDomainsChart(Scientists[0]);
    }

    public async Task OnScientistSet(ChangeEventArgs e)
    {
        Publications = null;
        DisciplinesChart = null;
        DomainsChart = null;
        var scientist = e.Value.ToString();
        await LoadPublications(scientist);
        await LoadDisciplinesChart(scientist);
        await LoadDomainsChart(scientist);
    }

    public async Task LoadPublications(string scientist) =>
        Publications = await _httpClient.GetScientistPublications(scientist);

    public async Task LoadDisciplinesChart(string scientist)
    {
        DisciplinesChart = new DisciplinesChart(await _httpClient.GetDisciplineContributions(scientist));
        await _js.InvokeVoidAsync("loadChart", "chart-disciplines", DisciplinesChart);
    }

    public async Task LoadDomainsChart(string scientist)
    {
        DomainsChart = new DomainsChart(await _httpClient.GetDomainContributions(scientist));
        await _js.InvokeVoidAsync("loadChart", "chart-domains", DomainsChart);
    }
}