@page "/Contact"

<div class="container contact-container">
    <main>
        <header class="text-center contact-header">
            <h1 class="contact-heading">Contact information</h1>
        </header>
        <section class="text-center">
            <div style="margin-top: 30px;">
                <i class="fas fa-hourglass-half" style="font-size: 82px;background-color: rgba(62,140,228,0);color: rgb(62,140,228);"></i>
                <p>Coming soon...</p>
            </div>
        </section>
    </main>
</div>