@page "/"

<main>
    <section class="clean-block clean-hero">
        <div class="text">
            <h2 style="font-size: 46px;font-weight: bold;">Aplikacja do wizualizacji osiągnięć naukowych</h2>
            <p>System oblicza stopień zaangażowania naukowców w różnych dziedzinach i dyscyplinach naukowych</p><a class="btn btn-outline-light btn-lg" role="button" href="Calculator">Zacznij już teraz!</a>
        </div>
    </section>
    <section class="clean-block clean-info dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Co robi ScienceFuzz?</h2>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6"><img class="img-thumbnail" src="assets/img/difficult.jpg"></div>
                <div class="col-md-6">
                    <div class="getting-started-info">
                        <p>
                            Oszacowanie osiągnięć naukowych badaczy jest skomplikowane ze względu na granularny podział nauki na wszelakie dziedziny i dyscypliny. Dodatkowo, dyscypliny wyjątkowo często powiązane są z kilkoma dziedzinami co zwiększa złożoność problemu.
                            ScienceFuzz przedstawia metodę obliczania stopnia zaangażowania naukowców w badaniach bazując na ilości artykułów opublikowanych w dziennikach połączonych z dyscyplinami, które z kolei powiązane są z dziedzinami nauki.<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="clean-block features">
        <div class="container">
            <div class="block-heading science-categories">
                <div class="row">
                    <div class="col text-center"><span>8</span><span class="science-category-text">&nbsp;dziedzin</span></div>
                    <div class="col text-center"><span>47</span><span class="science-category-text">&nbsp;dyscyplin</span></div>
                    <div class="col text-center"><span>28993</span><span class="science-category-text">&nbsp;dzienników</span></div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 feature-box">
                    <i class="fas fa-book icon"></i>
                    <h4>Dziedzina nauk humanistycznych</h4>
                    <p>Dyscypliny akademickie badające aspekty społeczności i kultury</p>
                </div>
                <div class="col-md-5 feature-box">
                    <i class="fas fa-wrench icon"></i>
                    <h4>Dziedzina nauk inżynieryjno-technicznych</h4>
                    <p>Nauki skupiające się na rzeczach stworzonych przez człowieka w przeciwieństwie do rzeczy pochodzących z natury.<br></p>
                </div>
                <div class="col-md-5 feature-box">
                    <i class="fas fa-landmark icon"></i>
                    <h4>Dziedzina sztuki</h4>
                    <p>Fizyczna ekspresja kreatywności obserwowana w społecznościach i kulturach.</p>
                </div>
                <div class="col-md-5 feature-box">
                    <i class="fas fa-medkit icon"></i>
                    <h4>Dziedzina nauk medycznych i nauk o zdrowiu<br></h4>
                    <p>Nauka i praktyka stawiania diagnozy, prognozy, leczenia i prewencji chorób.</p>
                </div>
                <div class="col-md-5 feature-box">
                    <i class="fas fa-users icon"></i>
                    <h4>Dziedzina nauk społecznych</h4>
                    <p>Akademickie dyscypliny skupiające się na zgłębianiu społecznych zachowanń grup oraz osób.</p>
                </div>
                <div class="col-md-5 feature-box">
                    <i class="fas fa-search icon"></i>
                    <h4>Dziedzina nauk ścisłych i przyrodniczych</h4>
                    <p>Nauki priorytezujące absolutną precyzję w wynikach.</p>
                </div>
                <div class="col-md-5 feature-box">
                    <i class="fas fa-leaf icon"></i>
                    <h4>Dziedzina nauk rolniczych</h4>
                    <p>Nauka i sztuka kultywowania roślin i zwierząt hodowlanych.</p>
                </div>
                <div class="col-md-5 feature-box">
                    <i class="fas fa-church icon"></i>
                    <h4>Dziedzina nauk teologicznych</h4>
                    <p>Nauki zajmujące się sprawami religii, wiary, moralności i etyki.</p>
                </div>
            </div>
        </div>
    </section>
</main>