@page "/"

<main>
    <section class="clean-block clean-hero">
        <div class="text">
            <h2 style="font-size: 46px;font-weight: bold;">Visualize your scientific achievements</h2>
            <p>Use this handy and easy to use tool in order to see your level of contribution to each scientific domain</p>
            <NavLink Match="NavLinkMatch.All" href="/Calculator" class="btn btn-outline-light btn-lg" role="button">Calculate now!</NavLink>
        </div>
    </section>
    <section class="clean-block clean-info dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">What does ScienceFuzz do?</h2>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6"><img class="img-thumbnail" src="assets/img/difficult.jpg"></div>
                <div class="col-md-6">
                    <div class="getting-started-info">
                        <p>
                            Assessment of scientiﬁc achievements of scientists is diﬃcult because the science is divided into scientiﬁc domains and disciplines. The classiﬁcation is not a partition, so very often disciplines are related to a few scientiﬁc
                            domains. ScienceFuzz presents the method of calculating scientists’ contributions to science, which are based on the number of articles published in journals connected to disciplines which are, in turn, related to scientiﬁc
                            domains.<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="clean-block features">
        <div class="container">
            <div class="block-heading science-categories">
                <div class="row">
                    <div class="col text-center"><span>8</span><span class="science-category-text">&nbsp;domains</span></div>
                    <div class="col text-center"><span>311</span><span class="science-category-text">&nbsp;disciplines</span></div>
                    <div class="col text-center"><span>5156</span><span class="science-category-text">&nbsp;journals</span></div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 feature-box">
                    <i class="fas fa-book icon"></i>
                    <h4>Humanities</h4>
                    <p>Academic disciplines that study aspects of human society and culture.</p>
                </div>
                <div class="col-md-5 feature-box">
                    <i class="fas fa-wrench icon"></i>
                    <h4>Technological sciences</h4>
                    <p>Sciences which have human-made rather than natural objects as objects of study, and define their objects of study in functional terms.<br></p>
                </div>
                <div class="col-md-5 feature-box">
                    <i class="fas fa-landmark icon"></i>
                    <h4>Arts</h4>
                    <p>Physical expression of creativity found in human societies and cultures.</p>
                </div>
                <div class="col-md-5 feature-box">
                    <i class="fas fa-medkit icon"></i>
                    <h4><strong>Medical, health and sport sciences</strong><br></h4>
                    <p>Science and practice of establishing the diagnosis, prognosis, treatment and prevention of disease.</p>
                </div>
                <div class="col-md-5 feature-box">
                    <i class="fas fa-users icon"></i>
                    <h4>Social sciences</h4>
                    <p>Academic disciplines concerned with the study of the social life of human groups and individuals.</p>
                </div>
                <div class="col-md-5 feature-box">
                    <i class="fas fa-search icon"></i>
                    <h4>Exact sciences</h4>
                    <p>Sciences which admit of absolute precision in their results.</p>
                </div>
                <div class="col-md-5 feature-box">
                    <i class="fas fa-leaf icon"></i>
                    <h4>Agricultural, forestery and veterinary sciences</h4>
                    <p>Sciences and arts of cultivating plants and livestock.</p>
                </div>
                <div class="col-md-5 feature-box">
                    <i class="fas fa-cloud-sun-rain icon"></i>
                    <h4>Natural sciences</h4>
                    <p>Scineces concerned with the description, prediction, and understanding of natural phenomena, based on observational and empirical evidence.</p>
                </div>
            </div>
        </div>
    </section>
</main>