.calc-label {
  color: #3e8ce4;
  font-size: 20px;
}

.fas.fa-times.float-right {
  cursor: pointer;
}

.publication {
  background-color: white;
  padding: 20px;
  margin-top: 30px;
  border: 1px solid lightgray;
}

.publication-label {
  color: #3e8ce4;
}

.add-publication-section {
  margin-top: 30px;
}

.chart {
  position: fixed;
  margin-top: 30px;
  width: 48%;
}

@media (max-width: 992px) {
  .chart {
    position: static;
    padding: 20px;
    width: 100%;
  }
}

@media (min-width:768px) {
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.calculator-main-content {
  padding-bottom: 50px;
  background-color: white;
  margin-top: 5px;
}

.page-footer {
  padding-top: 0px;
}

.footer-copyright {
  margin-top: 0px!important;
}

.chart-display {
  padding: 20px;
}

.rm-icon {
  float: right;
  color: red;
  cursor: pointer;
}

.scientific-domain {
  display: block;
}

.domain-score-good {
  color: green;
}

.domain-score-normal {
}

