.form-control.d-inline {
}

.inline-num {
  width: 60%;
}

.diagram-form-section {
  padding: 20px;
  background-color: white;
  border: solid 1px gray;
}

.diagram-header {
  margin-bottom: 50px;
}

.diagram-section {
  margin-bottom: 100px;
}

.diagram-col {
  margin-bottom: 50px;
}

.table-section {
  background-color: white;
  padding: 20px;
  margin-bottom: 50px;
  border: solid 1px gray;
}

.calc-table {
  margin-bottom: 30px;
}

.table-header {
  color: #3e8ce4;
}

