.form-control.d-inline {
}

.inline-num {
  width: 60%;
}

.diagram-form-section {
  padding: 20px;
  background-color: white;
}

.diagram-header {
  margin-bottom: 50px;
}

.diagram-section {
  margin-bottom: 100px;
}

.diagram-col {
  margin-bottom: 50px;
}

