.rtf-section {
  padding: 20px;
  border: 1px solid lightgray;
}

.btn-submit-group {
  margin-top: 50px;
  margin-bottom: 30px;
}

.help-btn {
  float: right;
}

.rtf-form {
  margin-top: 30px;
}

.or-link-group {
  margin-top: 30px;
}

.tut-img {
  padding: 30px;
}

